<!DOCTYPE html>
<html
<head>
<title>Chenzi's Pragprog Books Online Store</title>
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "depot", :media => "all" %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body id="store" >
<div id="banner" >
<%= image_tag("logo.png") %>
<%= @page_title || "Pragmatic Bookshelf" %>
 </div>
 <div id="columns" >
<div id="side" >
<a href="http://www...." >Home</a><br />
<a href="http://www..../faq" >Questions</a><br />
<a href="http://www..../news" >News</a><br />
<a href="http://www..../contact" >Contact</a><br />
</div>
<div id="main" >
<%= yield %>
 </div>
</div>
</body>
</html>